*{
    margin: 0;
    padding: 0;
}
h1{
    margin-top: 40px;
    margin-bottom: 10px;
    font-family: sans-serif;
    font-weight: bold;
    text-shadow: 2px;
    font-style: italic;
    color:black;
    margin-left: 40%;
}

body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-image: url("img2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: cover;
    background-attachment: fixed;
    box-sizing: border-box;
}

.meniu{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 100%;
    background-color:cornflowerblue;
    text-align: center;
    border-radius: 30px;
    border-style: solid;
    border-color: black;  
    opacity: 0.9;
    font-family: sans-serif;
    font-weight: bold; 
}

.meniu ul{
    display: flex;
    list-style: none;
    color: white;
}

.meniu ul li{
    width: 120px;
    margin: 15px;
    padding: 15px;
}

.meniu ul li a {
    text-decoration: none;
    color:black;
}

.active, .meniu ul li:hover{
    background-color: rgba(33, 185, 223, 0.849) ;
    border-radius: 10px;
}

.meniu .fas{
    margin-right: 8px;
}

.meniu .fab{
    margin-right: 8px;
}

.submeniu1{
display: none;
}

.meniu ul li:hover .submeniu1{
    display: block;
    position: absolute;
    background-color: rgba(33, 185, 223, 0.849);
    margin-top:15px ;
    margin-left: -15px;
    border-radius: 20px;
}

.meniu ul li:hover .submeniu1 ul{
    display: block;
    margin:10px;
    
}

.meniu ul li:hover .submeniu1 ul li {
    width: 80px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
